{% if mainStreamer is not null %}
    <table class="table table-striped table-bordered dt-responsive nowrap"
           cellspacing="0" width="100%">
        <thead>
        <tr>
            <th colspan="3" class="text-center">Main Streamers</th>
        </tr>
        <tr>
            {% for streamer in mainStreamer %}
                <th class="text-center">
                    <a href="{{ path('profileStreamer', {'streamer':streamer.details.id}) }}">{{ streamer.details.name }}</a><br />
                    {% if streamer.details.on == true %}<a href="{{ path('loadPlayer', {'searchString': streamer.details.name}) }}"><i style="color:#61b041;" class="fa fa-play tt" title="Watch Stream now"></i> Online</a>{% else %}<i style="color:#cc1c23;" class="fa fa-remove tt" title="Streamer offline"></i> Offline{% endif %}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for streamer in mainStreamer %}
            <td class="text-center">
                <strong>{{ streamer.pct }}&percnt;</strong>
                <br />
                ({{ streamer.games }} / {{ streamer.all }})
            </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
{% else %}
    <div class="row" style="border-bottom:1px solid #ccc;padding-top:5px;">
        <div class="col-12">
            No Streamer found
        </div>
    </div>
{% endif %}