{% set url = path('loadPlayer', {"searchString":streamer.streamUsername}) %}
{% if streamer.platform == "Beam.pro" %}
    {% set url = 'https://beam.pro/'~streamer.streamUsername %}
{% endif %}
<div class="col-sm-6 col-12 champRow" id="sRow_{{ streamer.id }}"
     data-streamer="{{ streamer.streamUsername|lower }}"
     data-summoner="{{ streamer.summonerName }}"
     data-champ="{{ streamer.pChamp|lower }}">
    <div id="sPanel_{{ streamer.id }}"
         class="row ls-border-container"
         style="
                 margin-top:10px;
                 margin-left:10px;
                 padding-top:10px;
                 height:250px;
                 position:relative;
                 background:#1d2127 url('{{ preload(asset('assets/ls/img/champions/'~streamer.imageChampion~'_0.png')) }}') no-repeat top right;
                 "
    >
        <div class="col-12">
            <div class="row">
                <div class="col-11">
                    <div class="ls-streamer-channel">
                        <span class="flag-icon flag-icon-{{ streamer.flag }} flag-icon-squared"></span> <span class="tt" title="{{ streamer.resolution }}p@{{ streamer.fps }}fps">{{ streamer.streamUsername }}</span>
                        <a class="ls-small-white" href="{{ path('profileStreamer', {'streamer':streamer.streamUsername}) }}"
                           style="color:#fff;font-size:0.8rem;line-height: 1.8rem;">(Check VODs)</a>
                    </div>
                </div>
                <div class="col-1 text-right" style="padding-right: 5px;">
                    <i class="fa fa-refresh pointer refreshStreamer"
                       style="text-shadow: 1px 1px 1px #000;color:#fff;"
                       data-streamer="{{ streamer.id }}"
                       data-summoners="{{ streamer.sCollection }}"
                       data-streamer-container="{{ path('renderStreamerInfoContainer', {'s':streamer.id}) }}"
                    ></i>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="row ls-small-white">
                                <div class="col-12">{{ streamer.mainRolePct }}&percnt; {{ streamer.mainRole }}</div>
                            </div>
                            <div class="row ls-small-white">
                                <div class="col-12">{{ streamer.winRate|round(0) }}&percnt; Win</div>
                            </div>
                            <div class="row ls-small-white">
                                <div class="col-12">{{ streamer.totalInGame|round(0) }}&percnt; inGame</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <br/>
                            <a href="{{ url }}" class="side-corner-tag">
                                <div class="ls-play-button">
                                    <i class="fa fa-play fa-3x"></i>
                                </div>
                                <img src="{{ streamer.preview }}"
                                     id="preview_{{ streamer.id }}" alt="{{ streamer.previewAlt }}"
                                     class="img-thumbnail ls-thumbnail"
                                >
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-8 text-right" style="margin-top:-15px;margin-bottom: -20px;">
                    {% if streamer.inGame == false %}
                        {% for lastGame in streamer.lastGames %}
                            <img src="{{ version.cdn }}/img/champion/loading/{{ lastGame.lastChampionImage|replace({'.png':''}) }}_0.jpg"
                                 class="last-champ-path last-champion-{{ lastGame.lastOutcomeText|lower }} tt"
                                 title="{{ lastGame.lastChampionName }}<br /><span class='{{ lastGame.lastOutcome }}Text'>{{ lastGame.lastOutcomeText }}</span> (Winrate {{ lastGame.winrateLast }})"
                            >
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-right">
                    {% if streamer.hasSummoner == false %}
                        <div class="ls-small-white">
                            &nbsp;
                        </div>
                        <div class="ls-channel" style="text-shadow: 1px 1px 1px #000;color:#ff4b5c;">
                            No Summoners attached!
                        </div>
                    {% else %}
                        {% if streamer.inGame == true %}
                            <div class="ls-small-white">
                                <i class="fa fa-info-circle tt"
                                   title="{{ streamer.pChamp }}<br />{{ streamer.league }} {{ streamer.division }}<br />{{ streamer.lp }} {{ streamer.queue }}"></i> {{ streamer.gameMinutes }}
                                min in Game
                            </div>
                            <div class="ls-channel">
                                {{ streamer.region }}{{ streamer.summonerName }}
                            </div>
                        {% else %}
                            <div class="ls-small-white">
                                &nbsp;
                            </div>
                            <div class="ls-channel">
                                <span style="color:#ff4b5c;">Not in Game</span>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
