{% extends 'base.html.twig' %}
{% block title %} - League of Legends Streams by Role {% endblock title %}
{% block body %}
    <main id="main">
        <div class="overlay"></div>
        <header class="header">
            <h1 class="page-title">
                <a class="sidebar-toggle-btn trigger-toggle-sidebar">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line line-angle1"></span>
                    <span class="line line-angle2"></span>
                </a>Streamer by Role</h1>
        </header>
        <div id="main-nano-wrapper" class="nano">
            <div class="nano-content" id="lScroll">
                <div class="container-fluid">
                    <div class="row" style="padding-left:15px;">
                        <div class="col-10 offset-1 text-center">
                            <div class="ls-league">Check who plays your favourite role most during their streams.
                            </div>
                        </div>
                    </div>
                    <br/>&nbsp;
                    <div class="row justify-content-center" style="padding-left:15px;">
                        <div class="col-10">
                            <div class="row">
                                {% for role in roles %}
                                    <div class="col-xl-6 offset-xl-0 col-10">
                                        <div class="row">
                                            <div class="card">
                                                <div class="city-selected city-medium pointer clickRoleStreamer"
                                                     data-role="{{ role }}">
                                                    <article>
                                                        <div class="info">
                                                            <div class="city">
                                                                {{ role }}
                                                            </div>
                                                        </div>
                                                    </article>
                                                    <figure class="cFigure lazy"
                                                            data-src="{{ asset('assets/ls/img/roles/'~role|lower~'.png') }}"></figure>
                                                </div>
                                                <div id="role_{{ role }}" class="roleToggle"
                                                     data-role="{{ role }}"
                                                     data-url="{{ path('renderMainStreamerByRole') }}"
                                                     style="display:none;position:relative;">
                                                    <h4><i class="fa fa-spin fa-spinner"></i> Loading Streamers</h4>
                                                    <div class="row"
                                                         style="border-bottom:1px solid #ccc;padding-top:5px;">
                                                        <div class="col-12">
                                                            This may take a while...
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br/>&nbsp;
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </div>
    </main>
    <input type="hidden" id="ajax-route-path-profile" value="{{ path('profileStreamer') }}"/>
    <input type="hidden" id="ajax-route-path-stream" value="{{ path('loadPlayer') }}"/>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ preload(asset('assets/ls/css/profile.min.css')) }}"/>
{% endblock stylesheets %}

{% block javascripts %}
    <script src="{{ preload(asset('assets/node_modules/jquery-lazy/jquery.lazy.min.js')) }}"></script>
    <script>
        var LS_NAV = "mRole";
    </script>
{% endblock javascripts %}