{% extends 'base.html.twig' %}
{% block title %} - Add A LoL Streamer/Summoner{% endblock title %}
{% block body %}
    <main id="main">
        <div class="overlay"></div>
        <header class="header">
            <h1 class="page-title">
                <a class="sidebar-toggle-btn trigger-toggle-sidebar">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line line-angle1"></span>
                    <span class="line line-angle2"></span>
                </a>Add Streamer or Summoner</h1>
        </header>
        <div id="main-nano-wrapper" class="nano">
            <div class="nano-content" id="pScrollerMain">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="module form-module">

                                <h2>Please fill the form to add a <strong>Streamer</strong></h2>
                                <div class="row justify-content-center">
                                    <div class="col-xs-12 col-sm-6 col-md-5">
                                        <label for="channel">Channelname</label>
                                        <input id="channel" name="channel" required="required" type="text">
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-5">
                                        <label for="platform">Platform</label>
                                        <select id="platform" name="platform">
                                            <option value="1">Twitch.tv</option>
                                            <!--<option value="2">Azubu.tv</option>-->
                                            <option value="3">Beam.pro</option>
                                        </select>
                                    </div>

                                </div>
                                <hr/>
                                <div class="row justify-content-center">
                                    <div class="col-xs-12 col-sm-12 col-md-5 text-center">
                                        <a role="button" id="submitStreamer" class="btn btn-green btn-block rounded-0">Check</a>
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />&nbsp;
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="module form-module">
                                <div class="form">
                                    <h2>Please fill the form to add a <strong>Summoner</strong></h2>
                                    <div class="row justify-content-center">
                                        <div class="col-xs-12 col-sm-12 col-md-10 ">
                                            <label for="streamerAC">Streamer</label>
                                            <input type="text" id="streamerAC" >
                                            <input type="hidden" id="streamerId" />
                                        </div>

                                    </div>
                                    <br />
                                    <div class="row justify-content-center">

                                        <div class="col-xs-4 col-sm-4 col-md-3">
                                            <label for="region">Region</label>
                                            <select id="region" name="region">
                                                <option value="1">br</option>
                                                <option value="2">eune</option>
                                                <option value="3">euw</option>
                                                <option value="4">lan</option>
                                                <option value="5">las</option>
                                                <option value="6">na</option>
                                                <option value="7">oce</option>
                                                <option value="8">tr</option>
                                                <option value="9">ru</option>
                                                <option value="10">kr</option>
                                                <option value="12">jp</option>
                                                <option value="11">pbe</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7">
                                            <label for="summoner">Summoner</label>
                                            <input type="text" id="summoner" >
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="row justify-content-center">
                                        <div class="col-xs-12 col-sm-12 col-md-5 text-center">
                                            <a role="button" id="submitSummoner"
                                               class="btn btn-green btn-block rounded-0">Check</a>
                                            <br/>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-xs-12 col-sm-12 col-md-10 text-center">
                                            <div class="progress" style="display: none;">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 0;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <input type="hidden" id="ajax-route-check-streamer" value="{{ path('checkStreamer') }}" />
    <input type="hidden" id="ajax-route-find-streamer-ac" value="{{ path('findStreamer') }}" />
    <input type="hidden" id="ajax-route-check-summoner" value="{{ path('checkSummoner') }}" />
    <input type="hidden" id="ajax-route-check-session" value="{{ path('checkSession') }}" />
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ preload(asset('assets/node_modules/jquery-autocomplete/jquery.autocomplete.css')) }}" />
{% endblock stylesheets %}

{% block javascripts %}
    <script src="{{ preload(asset('assets/node_modules/jquery-autocomplete/jquery.autocomplete.js')) }}"></script>
    <script>
        var LS_NAV = "streamerMenu";
    </script>
{% endblock javascripts %}

